<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Authorization</title>
    <style nonce="oauth-authorization">
        html, body {{ height: 100%; }}
        .center {{
            margin: auto;
            max-width: 100%;
            position: relative;
            top: 40%;
            width: 300px;
        }}
        form {{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }}
    </style>
</head>
<body>
    <div class="center">
        {content}
    </div>
</body>
</html>
